.work{
    width: 100%;height: 100%;
    font-size:15px;
    .work_header{
        width: 100%;
        height: 180px;
        background: #fff;
        padding-left: 30px;
        padding-top: 10px;
        p:first-child{
            color: rgb(122, 118, 118);
        }
        h1{
            font-size: 45px;
        }
    }
    .work_echarts{
        width: 95%;
        height: 480px;
        background: #fff;
        margin: 30px auto;
        p{
            width: 100%;
            height: 60px;
            border-bottom: 1px solid #eee;
            padding: 20px;
        }
        .echarts_main{
          h4{
            margin: 10px;
            font-weight: bold;
          }
        }
    }
    .work_nav{
        width: 95%;
        height: 170px;
        background: #fff;
        margin: 30px auto;
        p{
            width: 100%;
            height: 60px;
            border-bottom: 1px solid #eee;
            padding: 20px;
        }
        ul{
            height: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .work_list{
        width: 95%;
        background: #fff;
        margin: 30px auto;
        p{
            width: 100%;
            height: 60px;
            padding: 20px;
        }
        .work_listitem{
            display: flex;
            flex-wrap: wrap;
            img{
                width: 95%;
                height: 120px;
                object-fit: cover;
            }
        }
    }
    .new_comment{
        width: 95%;
        background: #fff;
        margin: 30px auto;
        .comment_title{
            width: 100%;
            height: 60px;
            padding: 20px;
            border-bottom: 1px solid #eee;
        }
        .comment_list{
            div{
                margin: 20px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #eee;
                p{
                    b{
                        font-weight: normal;
                        color: rgb(90, 90, 239);
                        margin: 0 7px;
                    }
                    em{
                        font-style: normal;
                    }
                    span{
                        color: rgb(90, 90, 239);
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}
.make{
    button{
        border: none;
        color: rgb(99, 99, 238);
    }
}