.system{
    width: 100%;
    height: 100vh;
    background: #e7eaee;
    // background: #666;
    .system_header{
        height: 90px;
        width: 100%;
        background: white;
        border-top: 1px solid #ccc;
        padding-left: 20px;
    }
    .styles_tabls{
        margin: 20px;
        background: white;
        padding: 35px;
        height: auto;
        color: #000;
        .ant-tabs{
            .ant-tabs-content-holder{
                .ant-tabs-content{
                    padding: 10px 10px 10px 0;
                }
            }
        }
    }
}