.mainimgDiv{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
        width: 90%;
        height: 90%;
    }
}
.two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.textbox{
    width: 100%;
    display: flex;
    .text{
        flex: 1;
        height: 50px;
    }
}
.brawerFooter{
    display: flex;
    justify-content: right;
}