.label{
    width: 100%;
    height: 100%;
    header{
        position: relative;
        padding: 12px 24px;
        background: #fff;
        box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
        z-index: 100;
        border-top: 1px solid rgba(178,186,194,0.15);
        nav{
            margin: 0;
            padding: 0;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            color: rgba(0,0,0,.45);
            font-size: 14px;
            ol{
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    span{
                        a{
                            color: rgba(0,0,0,.45);
                            transition: color .3s;
                        }
                    }
                }
            }
        }
    }
    main{
        flex: 1;
        padding: 24px;
        overflow: auto;
        .label_main{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            .label_main_left{
                width: 35%;
                background-color: #fff;
                .label_main_left_top{
                    width: 100%;
                    height: 50px;
                    padding: 0 24px;
                    border-bottom: 1px solid #f0f0f0;
                    p{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                    }
                }
                .label_main_left_bottom{
                    width: 100%;
                    padding: 24px;
                    display: flex;
                    flex-direction: column;
                    .label_mian_left_bottom_input{
                        margin: 0 0 24px;
                    }
                }
            }
            .label_main_right{
                width: 63%;
                background-color: #fff;
                .label_main_right_top{
                    width: 100%;
                    height: 50px;
                    padding: 0 24px;
                    border-bottom: 1px solid #f0f0f0;
                    p{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                    }
                }
                .label_main_right_bottom{
                    padding: 24px;
                    .label_main_right_bottom_list{
                        display: inline-block;
                        border: 1px solid #d9d9d9;
                        border-radius: 2px;
                        margin: 0 7px 7px 0;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}