.myCenter{
  width: 100%;
  >header{
    width: 100%;
    height: 50px;
    background-color: #fff;
  }
  >main{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    .antd-col{
      background-color: #fff;
    }
  }
  .header_img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}