.postermanager{
    width: 100%;
    height: 100%;
    header{
        position: relative;
        padding: 12px 24px;
        background: #fff;
        box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
        z-index: 100;
        border-top: 1px solid rgba(178,186,194,0.15);
        nav{
            margin: 0;
            padding: 0;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            color: rgba(0,0,0,.45);
            font-size: 14px;
            ol{
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    span{
                        a{
                            color: rgba(0,0,0,.45);
                            transition: color .3s;
                        }
                    }
                }
            }
        }
    }
    main{
        flex: 1;
        padding: 24px;
        overflow: auto;
        .posrermanager_main{
            width: 100%;
            height: 100%;
            .posrermanager_main_top{
                text-align: center;
                border: 1px dashed #d9d9d9;
                border-radius: 2px;
                background-color: #fff;
                cursor: pointer;
                transition: border-color .3s; 
                position: relative;
                margin-bottom: 24px;
                input{
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    cursor: pointer;
                }
                .posrermanager_main_top_box{
                    padding: 16px 0;
                    p:nth-child(1){
                        margin-bottom: 20px;
                    }
                    p:nth-child(2){
                        margin: 0 0 4px;
                        color: #333;
                        font-size: 16px;
                    }
                    p:nth-child(3){
                        color: rgba(0,0,0,.85);
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                }
            }
            .posrermanager_main_top:hover{
                border: 1px dashed #29a2ff;
            }
            .posrermanager_main_bottom{
                .posrermanager_main_bottom_form{
                    padding: 24px;
                    margin-bottom: 16px;
                    background: #fff;
                    .posrermanager_main_bottom_form_head{
                        display: flex;
                        align-items: center; 
                        >div{
                            display: flex;
                            margin-left: 20px;
                            margin-right: 20px;
                            align-items: center;
                            p{
                                display: flex;
                                align-items: center;
                                margin-right: 10px;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .posrermanager_main_bottom_form_bottom{
                        width: 100%;
                        padding-top: 15px;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                .posrermanager_main_bottom_List{
                    background-color: #fff;
                    padding: 24px 12px;
                    text-align: center;
                    .posrermanager_main_bottom_List_title{
                        color: rgba(0,0,0,.25);
                    }
                }
            }
        }
    }
}