.filemanage{
    width: 100%;
    height: 100%;
    .filetop{
        width: 95%;
        margin: 0 auto;
        height: 200px;
        background-color: #fff;
        margin-top: 30px;
    }
    .filefilter{
        width: 95%;
        height: 180px;
        margin: 0 auto;
        margin-top: 30px;
        background-color: #fff;
        display: flex;
        align-items: center;
    }
    .filecon{
        width: 95%;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 30px;
        height: 200px;
        .Myantcard{
            >img{
                width: 90%;
                height: 150px;
                object-fit: cover;
            }
        }
    }
    .filterinsed{
        width: 100%;
        .posrermanager_main_bottom_form_head{
            display: flex;
            align-items: center; 
            >div{
                display: flex;
                margin-left: 20px;
                margin-right: 20px;
                align-items: center;
                p{
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }
        }
        .posrermanager_main_bottom_form_bottom{
            width: 100%;
            padding-top: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start !important;
        }
        .posrermanager_main_bottom_form{
            padding: 24px;
            margin-bottom: 16px;
            background: #fff;
        }
    }
    
}
