.addpage {
    width: 100%;
     height: 100%;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     header{
         .addpage_header{
             width: 100%;
             padding: 20px 20px 8px 20px;
             display: flex;
             align-items: center;
             justify-content: space-between;
             .addpage_header_left{
                 display: flex;
                 align-items: center;
                 .addpage_header_box{
                     display: flex;
                     align-items: center;
                     .addpage_header_box_left{
                         margin-right: 15px;
                         button{
                             width: 25px;
                             height: 25px;
                             padding: 0;
                             display: flex;
                             align-items: center;
                         }
                     }
                     .addpage_header_box_right{
                         display: flex;
                         .addpage_header_box_right_input{
                             .ant-form{
                                 .ant-form-item{
                                     margin-bottom: 0px !important;
                                 }
                             }
                         }
                     }
                 }
             }
             .addpage_header_right{
                 display: flex;
                 align-content: center;
                 .addpage_header_right_set{
                     margin-left: 15px;
                 }
             }
         }
     }
   }
   .addpage {
     width: 100%;
     min-height: 700px;
     .w-md-editor-content {
       width: 40%;
     }
   }
   
   .menu {
     position: absolute;
     right: 0;
     top: 77px;
     width: 20vw;
     height: 100%;
     background: #fff;
   
     >h3 {
       height: 60px;
       line-height: 60px;
       border-bottom: 1px solid #ccc;
       padding-left: 15px;
       font-weight: bold;
   
     }
   
     p {
       padding-left: 10px;
     }
   }
   .addpage_header_box svg{
    width: 25px;
    height: 25px;
}
.file{
    padding: 24px;
    >form{
        .file_top{
            display: flex;
            align-items: center;
            padding: 10px;
            >div{
                width: 100%;
                display: flex;
                align-items: center;
                margin-right: 15px;
                margin-bottom: 15px;
                >span{
                    margin-right: 15px;
                }
            }
        }
        .file_bottom{
            display: flex;
            justify-content: flex-end;
        }
    }
    .file_list{
        margin-top: 20px;
        padding: 10px;
        .file_list_top{
            display: flex;
            justify-content: flex-end;
        }
        .file_list_bottom{
            margin-top: 20px;
            .ant-card{
                .ant-card-body{
                    display: flex;
                    justify-content: center;
                    .ant-card-grid{
                        padding: 0 !important;
                        margin-left: 10px;
                    }
                }
            }
        }
        .pagesition{
            display: flex;
            padding: 20px;
            justify-content: flex-end;
        }
    }
}