.loginbox{
    width: 100%;
    height: 100%;
    position: fixed;
    .logindiv{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80vw;
        box-shadow: 0 2px 8px #f0f1f2;
        border-radius: 4px;
        display: flex!important;
        background-color: #fff;
        border: solid 1px #f1f1f1;
        .loginlogo{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            >svg{
                width: 100%;
                height: 100%;
            }
        }
        .iptall{
            flex: 1;
            background: #f7fafb;
            display: flex;
            align-items: center;
            .insed_box{
                flex: 1;
            }
        }
    }
    
}

