.search{
    width: 100%;
    height: 100%;
    .header{
        position: relative;
        padding: 12px 24px;
        background: #fff;
        box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
        z-index: 100;
        border-top: 1px solid rgba(178,186,194,0.15);
        nav{
            margin: 0;
            padding: 0;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            color: rgba(0,0,0,.45);
            font-size: 14px;
            ol{
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    span{
                        a{
                            color: rgba(0,0,0,.45);
                            transition: color .3s;
                        }
                    }
                }
            }
        }
    }
    .searmain{
        padding: 30px;
        .filefilter{
            width: 100%;
            height: 120px;
            margin: 0 auto;
            margin-top: 30px;
            background-color: #fff;
            display: flex;
            align-items: center;
            padding: 30px;
            .filterinsed{
                width: 100%;
                .posrermanager_main_bottom_form_head{
                    display: flex;
                    align-items: center; 
                    >div{
                        display: flex;
                        margin-left: 20px;
                        margin-right: 20px;
                        align-items: center;
                        p{
                            display: flex;
                            align-items: center;
                            margin-right: 10px;
                            margin-bottom: 0;
                        }
                    }
                }
                .posrermanager_main_bottom_form_bottom{
                    width: 100%;
                    padding-top: 15px;
                    display: flex;
                    justify-content: flex-end;
                }
                .posrermanager_main_bottom_form{
                    padding: 24px;
                    margin-bottom: 16px;
                    background: #fff;
                }
            }
        }

        .searchcon{
            width: 100%;
        }
    }
        


}