.knowledge{
    width: 100%;
    height: 100%;
    font-size:15px;
    header{
        position: relative;
        padding: 12px 24px;
        background: #fff;
        box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
        z-index: 100;
        border-top: 1px solid rgba(178,186,194,0.15);
        nav{
            margin: 0;
            padding: 0;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            color: rgba(0,0,0,.45);
            font-size: 14px;
            ol{
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    span{
                        a{
                            color: rgba(0,0,0,.45);
                            transition: color .3s;
                        }
                    }
                }
            }
        }
    }
    main{
        flex: 1;
        padding: 24px;
        overflow: auto;
    }
}
.know_search{
    background: #fff;
    padding-right: 20px;
   .know_top{
    display: flex;
    p{
        margin:30px 70px 0 30px;
        display: flex;
        align-items: center;
     }
   }
   
}
.know_bot{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p{
        display: flex;
        align-items: center;
    }
}
.know_list{
    background: #fff;
    padding: 10px;
    margin-top: 20px;
    p{
        display: flex;
        justify-content: flex-end;
    }
    .know_listitem{
        display: flex;
        img{
            height: 100px;
            object-fit: cover;
    }

    }
    .know_page{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        padding-top: 30px;
    }
    
   }

.drawer{
    width: 100%;
    height: 100%;
    >form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .drawer_header{
            flex: 1;
            padding: 24px;
            >div{
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                >span{
                    margin-right: 15px;
                }
            }
        }
        .drawer_footer{
            width: 100%;
            height: 50px;
            padding: 10px;
            border-top: 1px solid #d9d6d9;
            display: flex;
            justify-content: flex-end;
        }
    }
}
.file{
    padding: 24px;
    >form{
        .file_top{
            display: flex;
            align-items: center;
            padding: 10px;
            >div{
                width: 100%;
                display: flex;
                align-items: center;
                margin-right: 15px;
                margin-bottom: 15px;
                >span{
                    margin-right: 15px;
                }
            }
        }
        .file_bottom{
            display: flex;
            justify-content: flex-end;
        }
    }
    .file_list{
        margin-top: 20px;
        padding: 10px;
        .file_list_top{
            display: flex;
            justify-content: flex-end;
        }
        .file_list_bottom{
            margin-top: 20px;
            .ant-card{
                .ant-card-body{
                    display: flex;
                    justify-content: center;
                    .ant-card-grid{
                        padding: 0 !important;
                        margin-left: 10px;
                    }
                }
            }
        }
        .pagesition{
            display: flex;
            padding: 20px;
            justify-content: flex-end;
        }
    }
}