.knowdragg {
    width: 400px !important;
    height: 200px !important;
    cursor: pointer !important;
    background: rgb(231, 230, 230);
    display: flex;
    align-items: center;
  }
  
  .knowimg {
    width: 400px !important;
    height: 150px !important;
  }
  