.addfile {
   width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    header{
        .addfile_header{
            width: 100%;
            padding: 20px 20px 8px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .addfile_header_left{
                display: flex;
                align-items: center;
                .addfile_header_box{
                    display: flex;
                    align-items: center;
                    .addfile_header_box_left{
                        margin-right: 15px;
                        button{
                            width: 25px;
                            height: 25px;
                            padding: 0;
                            display: flex;
                            align-items: center;
                        }
                    }
                    .addfile_header_box_right{
                        display: flex;
                        .addfile_header_box_right_input{
                            .ant-form{
                                .ant-form-item{
                                    margin-bottom: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
            .addfile_header_right{
                display: flex;
                align-content: center;
                .addfile_header_right_set{
                    margin-left: 15px;
                }
            }
        }
    }
  }
  .addfile {
    width: 100%;
    min-height: 700px;
    .w-md-editor-content {
      width: 40%;
    }
  }
  
  .menu {
    position: absolute;
    right: 0;
    top: 77px;
    width: 20vw;
    height: 100%;
    background: #fff;
  
    >h3 {
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid #ccc;
      padding-left: 15px;
      font-weight: bold;
  
    }
  
    p {
      padding-left: 10px;
    }
  }
  