.pagemanager{
    width: 100%;height: 100%;
    font-size:15px;
    header{
        position: relative;
        padding: 12px 24px;
        background: #fff;
        box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
        z-index: 100;
        border-top: 1px solid rgba(178,186,194,0.15);
        nav{
            margin: 0;
            padding: 0;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            color: rgba(0,0,0,.45);
            font-size: 14px;
            ol{
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    span{
                        a{
                            color: rgba(0,0,0,.45);
                            transition: color .3s;
                        }
                    }
                }
            }
        }
    }
}
.page_header{
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 15px;
}
.page_search{
    width: 95%;
    // height: 150px;
    background: #fff;
    margin: 30px auto;
   .search_top{
    display: flex;
    p{
        margin:30px 70px 0 30px;
        span{
         margin-right: 10px;
        }
     }
   }
   .search_bot{
    p{
        margin-left: 85%;
        margin-top: 20px;
    }
   }
}
.page_body{
    width: 95%;
    // height: 150px;
    background: #fff;
    margin: 30px auto;
    p{
        margin-left: 90%;
        margin-top: 20px;
    }
}
.make{
    button{
        border: none;
        color: rgb(99, 99, 238);
    }
}