//---------------------文件抽屉
.fileDrawer {
    width: 734px;
    height: 100%;
  }
  
  .fileDrawerBody {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .fileDrawerBodyItem {
    width: 20%;
    min-width: 20%;
    height: 190px;
    margin-left: 2.5%;
    margin-top: 15px;
  }
  
  .fileDrawerBodyItem_img {
    width: 100%;
    height: 60%;
  }
  
  .fileDrawerBodyItem_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fileDrawerBodyItem_name {
    width: 100%;
    height: 40%;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-left: 1px solid rgba(240, 240, 240);
    border-right: 1px solid rgba(240, 240, 240);
    border-bottom: 1px solid rgba(240, 240, 240);
    justify-content: center;
  
  }
  
  .fileDrawerBodyItem:hover {
    transition: all 0.3s;
    box-shadow: 5px 5px 17px rgba(22, 22, 22, 0.4);
    z-index: 9999;
  }
  .fileDrawerBodyPage{
      width: 100%;
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
  }