.out{
    width: 100%;
    padding: 20px;
}
.lookTop{
    width: 95%;
    height: 150px;
    background-color: #fff;
    margin:0 auto;
    margin-top: 20px;
}
.bigtables{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}
.fromout{
    display: flex;
    flex-wrap: wrap;
    .iteminsed{
        width: 30%;
        height: 50px;
        
    }
}
.header{
    position: relative;
    padding: 12px 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    z-index: 100;
    border-top: 1px solid rgba(178,186,194,0.15);
    nav{
        margin: 0;
        padding: 0;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum";
        color: rgba(0,0,0,.45);
        font-size: 14px;
        ol{
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                span{
                    a{
                        color: rgba(0,0,0,.45);
                        transition: color .3s;
                    }
                }
            }
        }
    }
}