*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body,#root{
    width: 100%;
    height: 100%;
}
.ant-drawer-body{
    padding: 0;
}
.file_list_bottom .ant-card-body .ant-card-grid{
    margin-left: 10px;
}
.file_list_bottom .ant-card{
    border: 0;
}
.wmde-markdown-var{
    height: 85% !important;
}
.w-md-editor-content{
    width: 80% !important;
}
