.home{
    width: 100%;
    height: 100%;
    background-color: aqua;
    .sider{
        background-color: antiquewhite;
        .headimg{
            width: 100%;
            height: 100px;
            background-color: bisque;
        }
        .ant-menu{
            height: calc(100% - 100px);
        }
    }
    .main{
        background-color: aquamarine;
    }
}