.markdown{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    header{
        .markdown_header{
            width: 100%;
            padding: 20px 20px 8px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .markdown_header_left{
                display: flex;
                align-items: center;
                .markdown_header_box{
                    display: flex;
                    align-items: center;
                    .markdown_header_box_left{
                        margin-right: 15px;
                        button{
                            width: 25px;
                            height: 25px;
                            padding: 0;
                            display: flex;
                            align-items: center;
                        }
                    }
                    .markdown_header_box_right{
                        display: flex;
                        .markdown_header_box_right_input{
                            .ant-form{
                                .ant-form-item{
                                    margin-bottom: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
            .markdown_header_right{
                display: flex;
                align-content: center;
                .markdown_header_right_set{
                    margin-left: 15px;
                }
            }
        }
    }
    main{
        flex: 1;
        overflow: hidden;
        .mymarkdown{
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}
.menu{
    position: absolute;
    right: 0px;
    top: 140px;
    width: 20vw;
    height: 100%;
    background-color: #fff;
}
.active{
    color: rgb(245, 97, 195);
  }
.markdown_header_box svg{
    width: 25px;
    height: 25px;
}